version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: postgres-db
    restart: unless-stopped

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres

    ports:
      - "5440:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: